img {
  width: 70px;
  height: 70px;
}

.login-btn, .github-link{
  display: inline-block;
}

.login-btn{
  margin-right: 16px;
}

@media (max-width: 599px) {
  img {
    width: 42px;
    height: 42px;
  }
}
