img {
  height: 90px;
  width: 90px;
  margin: 10px;
}

h3 {
  font-size: 1.2rem;
}
div {
  font-size: 1rem;
}

.community:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

.community-preview-list-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 246px);
}

.community-preview-list-view-port {
  flex-grow: 1;
}

@media (max-width: 599px) {
  .community-preview-list-container {
    height: calc(100vh - 335px);
  }
}
