div {
  font-size: 1rem;
}

.community-preview-list-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 210px);
  padding: 20px;
}

.community-preview-list-view-port {
  flex-grow: 1;
}

mat-form-field {
  width: 85%;
  align-self: center;
  margin-top: 20px;
  padding: 10px;
}

@media (max-width: 599px) {
  .community-preview-list-container {
    height: calc(100vh - 434px);
  }
}
