<div class="community-preview-listContainer">
  <cdk-virtual-scroll-viewport itemSize="125" class="community-preview-listViewPort">
    <div
      class="community"
      fxLayout="row"
      fxLayoutAlign="space-evenly"
      *cdkVirtualFor="let community of communities | keyvalue"
      (click)="onSelected(community.value.name)"
    >
      <img [src]="community.value.image" />
      <div fxFlex="66" fxLayout="column" fxLayoutAlign="center center">
        <h3>{{ community.value.name }}</h3>
        <p>{{ community.value.city }}</p>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
