img {
  height: 90px;
  width: 90px;
  margin: 10px;
}

h3 {
  font-size: 1.2rem;
}
div {
  font-size: 1rem;
}

.community {
  margin-bottom: 15px;
}

.community:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

.community-preview-listContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: 80%;
}

.community-preview-listViewPort {
  flex-grow: 1;
}
