<div fxLayout="column">
  <mat-form-field>
    <input
      placeholder="Search communities"
      type="text"
      [formControl]="filter"
      matInput
      autocomplete="off"
    />
  </mat-form-field>
  <div class="community-preview-list-container">
    <cdk-virtual-scroll-viewport itemSize="110" class="community-preview-list-view-port">
      <div
        class="community"
        fxLayout="row"
        fxLayoutAlign="space-evenly"
        *cdkVirtualFor="let community of filtered$ | async"
        (click)="onSelected(community.name)"
      >
        <picture>
          <source
            *ngFor="let media of responsiveImagesConfiguration"
            [media]="'(max-width: ' + media.max + 'px) and (min-width: ' + media.min + 'px)'"
            [srcset]="'./assets/images/' + community.id + media.suffix + '.' + media.format"
            [type]="'image/' + media.format"
          />
          
          <!-- TODO: Image index should be select depending on format type or flatten the array into a list of different image names -->
          <img
            alt="{{ community.name }} logo"
            [src]="community?.images[2]"
          />
        </picture>

        <div fxFlex="66" fxLayout="column" fxLayoutAlign="center center">
          <h3>{{ community.name }}</h3>
          <p>{{ community.city }}</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
