mat-sidenav-content {
  height: calc(100vh - 64px);
}

mat-sidenav-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 599px) {
  mat-sidenav-content {
    height: calc(100vh - 222px);
  }
}

div {
  font-size: 19px;
}

header img {
  margin: 20px auto;
  display: block;
  width: 200px;
}

header h1 {
  text-align: center;
  color: #000000;
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
  margin: 0 0 0px;
}

header h2 {
  text-align: center;
  color: #888888;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.community-title {
  font-size: 22px;
  margin-top: 15px;
}

.community-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  color: #888888;
  font-size: 14px;
}

.social-icon {
  margin-left: 2px;
  margin-right: 2px;
}

.community-bio p.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}
mat-form-field {
  width: 85%;
}

.organizer-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7d7d7d;
  margin: 0;
}

.community-detail-container {
  padding: 60px 25px 0 25px;
}
