<mat-sidenav-container fxFill class="animated" [ngClass]="{ fadeIn: community }">
  <mat-sidenav-content *ngIf="community; else search">
    <header>
      <span (click)="onCloseInfo()" class="link close"></span>
      <div class="community-detail-container" fxLayout="column">
        <ngcommunity-community-item [detailCommunity]="true" [community]="community">
        </ngcommunity-community-item>
        <mat-chip-list fxLayout fxLayoutAlign="center center">
          <mat-chip class="social social-twitter" *ngIf="community.twitter"
            ><a [href]="community.twitter" target="_blank">
              Twitter
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </mat-chip>
          <mat-chip class="social social-youtube" *ngIf="community.youtube">
            <a [href]="community.youtube" target="_blank">
              Youtube
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </a>
          </mat-chip>
          <mat-chip class="social social-web" *ngIf="community.web">
            <a [href]="community.web" target="_blank">
              Web
              <i class="fas fa-link" aria-hidden="true"></i>
            </a>
          </mat-chip>
          <mat-chip class="social social-share">
            <span (click)="onShare()" class="community-share">
              Share
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </span>
            <span (click)="onCopy()" class="community-copy">
              Copy URL
              <i class="fa fa-copy" aria-hidden="true"></i>
            </span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </header>

    <div class="community-bio">
      <p class="title" *ngIf="community.description"><b>Description</b></p>
      <p *ngIf="community.description">
        {{ community.description }}
      </p>
      <p class="title"><b>Organizers</b></p>
      <div
        fxLayout
        fxLayoutAlign="space-between center"
        *ngFor="let organizer of community.organizers"
      >
        <p class="organizer-name">{{ organizer.name }}</p>
        <div fxLayout fxFlexalign="space-between center">
          <mat-chip-list>
            <mat-chip class="social social-twitter" *ngIf="organizer.twitter"
              ><a [href]="organizer.twitter" target="_blank">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </mat-chip>
            <mat-chip class="social social-github" *ngIf="organizer.github"
              ><a [href]="organizer.github" target="_blank">
                <i class="fab fa-github" aria-hidden="true"></i>
              </a>
            </mat-chip>
            <mat-chip class="social social-linkedin" *ngIf="organizer.linkedin"
              ><a [href]="organizer.linkedin" target="_blank">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </a>
            </mat-chip>
            <mat-chip *ngFor="let web of organizer.webs" class="social social-web"
              ><a [href]="web" target="_blank">
                <i class="fas fa-link" aria-hidden="true"></i>
              </a>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
  <ng-template #search class="content">
    <mat-sidenav-content>
      <ngcommunity-preview (selected)="onSelected($event)" [communities]="communities">
      </ngcommunity-preview>
    </mat-sidenav-content>
  </ng-template>

  <ng-template #emptyCommunityTwitter>
    <a class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
      <span class="social-button__inner">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
  </ng-template>
  <ng-template #emptyCommunityWeb>
    <a target="_blank" class="social-buttons__button social-button social-button--link">
      <span class="social-button__inner">
        <i class="fas fa-link"></i>
      </span>
    </a>
  </ng-template>
</mat-sidenav-container>
