<mat-sidenav-container fxFill>
  <mat-sidenav-content *ngIf="community; else search">
    <header>
      <span (click)="onCloseInfo()" class="close"></span>
      <a [href]="community.web" target="_blank">
        <img [src]="community.image" />
      </a>
      <div fxLayout fxLayoutAlign="space-evenly center social-links">
        <a
          *ngIf="community.twitter"
          [href]="community.twitter"
          class="social-buttons__button social-button social-button--twitter"
          aria-label="Twitter"
        >
          <span class="social-button__inner">
            <i class="fab fa-twitter"></i>
          </span>
        </a>

        <h1>{{ community.name }}</h1>

        <a
          [href]="community.web"
          target="_blank"
          class="social-buttons__button social-button social-button--link"
        >
          <span class="social-button__inner">
            <i class="fas fa-link"></i>
          </span>
        </a>
      </div>
    </header>

    <div class="community-bio">
      <p *ngIf="community.description">
        {{ community.description }}
      </p>
      <header class="margin-top-1">
        <h1>Organizers</h1>
      </header>
      <!-- <div class="flex-between" *ngFor="let organizer of community.organizers"> -->
      <div
        fxLayout
        fxLayoutAlign="space-between center"
        *ngFor="let organizer of community.organizers"
      >
        <span>{{ organizer.name }}</span>

        <div fxLayout fxFlexalign="space-between center">
          <a
            *ngIf="organizer.twitter"
            [href]="organizer.twitter"
            class="social-buttons__button social-button social-button--twitter"
            aria-label="Twitter"
          >
            <span class="social-button__inner">
              <i class="fab fa-twitter"></i>
            </span>
          </a>

          <a
            *ngIf="organizer.github"
            [href]="organizer.github"
            target="_blank"
            class="social-buttons__button social-button social-button--github"
            aria-label="GitHub"
          >
            <span class="social-button__inner">
              <i class="fab fa-github"></i>
            </span>
          </a>
          <a
            *ngIf="organizer.linkedin"
            [href]="organizer.linkedin"
            target="_blank"
            class="social-buttons__button social-button social-button--linkedin"
            aria-label="LinkedIn"
          >
            <span class="social-button__inner">
              <i class="fab fa-linkedin"></i>
            </span>
          </a>
          <a
            *ngFor="let web of organizer.webs"
            [href]="web"
            target="_blank"
            class="social-buttons__button social-button social-button--link"
          >
            <span class="social-button__inner">
              <i class="fas fa-link"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
  <ng-template #search class="content">
    <mat-sidenav-content>
      <header>
        <h1>Search Communities</h1>
        <mat-form-field class="margin-top-1">
          <input
            placeholder="Typing your community"
            type="text"
            [formControl]="control"
            matInput
            [matAutocomplete]="auto"
          />
        </mat-form-field>

        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onSelected($event.option.value)"
        >
          <mat-option *ngFor="let community of options$ | async" [value]="community">
            {{ community }}
          </mat-option>
        </mat-autocomplete>
      </header>
    </mat-sidenav-content>
  </ng-template>
</mat-sidenav-container>
