mat-sidenav-content {
  //  background-image: linear-gradient(#ffffff, #000000);
}

div {
  font-size: 19px;
}

header img {
  margin: 20px auto;
  display: block;
  width: 200px;
}

header {
  text-align: center;
}

header h1 {
  text-align: center;
  color: #888888;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  margin: 0 0 0px;
}

header h2 {
  text-align: center;
  color: #888888;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.community-title {
  font-size: 22px;
  margin-top: 15px;
}

.community-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  color: #888888;
  font-size: 14px;
}

.social-icon {
  margin-left: 2px;
  margin-right: 2px;
}

.community-bio p:first-child {
  text-align: justify;
  font-size: 19px;
  line-height: 1.25em;
  padding: 0em 1.25em;
}
mat-form-field {
  width: 85%;
}

.organizer-name {
  height: 42px;
}

@media (max-width: 599px) {
  .organizer-name {
    height: 36px;
  }
}
