<aside class="profile-card">
  <header>
    <!-- here’s the avatar -->
    <a href="https://tutsplus.com">
      <img src="assets/images/{{ community.id }}.png" />
    </a>

    <!-- the username -->
    <h1>{{ community.name }}</h1>
  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    <p>Organizers!</p>
    <p *ngFor="let organizer of community.organizers">
      {{ organizer.name }} -
      <a
        class="profile-social-links"
        *ngIf="organizer.twitter"
        href="{{ organizer.twitter }}"
        target="_blank"
      >
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg"
        />
      </a>
    </p>
  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">
    <li>
      <a href="{{ community.twitter }}" target="_blank">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg"
        />
      </a>
    </li>

    <!-- codepen - your codepen profile-->
    <li>
      <a href="{{ community.web }}" target="_blank">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg"
        />
      </a>
    </li>
  </ul>
</aside>
