mat-sidenav-content {
  //background-image: linear-gradient(#ffffff, #000000);
}

mat-sidenav-container {
  height: 100%;
}

div {
  font-size: 19px;
}

header img {
  margin: 20px auto;
  display: block;
  width: 200px;
}

header {
  text-align: center;
}

header h1 {
  text-align: center;
  color: #888888;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}

header h2 {
  text-align: center;
  color: #888888;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.social {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #888888;
}

.profile-title {
  font-size: 22px;
  margin-top: 15px;
}

.flex-even {
  display: flex;
  justify-content: space-evenly;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.profile-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  color: #888888;
  font-size: 14px;
}

.social-icon {
  margin-left: 2px;
  margin-right: 2px;
}

.profile-bio p:first-child {
  text-align: center;
  font-size: 16px;
}

.social-links a img {
  width: 30px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #888888;
  padding: 5px;
  margin: 0;
}
