<div
  fxFlexFill
  gdAreas="header | main  "
  gdGap="0px"
  gdRows="15% auto"
  gdAreas.lt-md="header | main "
  gdRows.lt-md="15% auto "
  gdColumns.lt-md="100% 100% "
  gdAreas.xs="header | main "
  gdRows.xs="15% auto"
  gdColumns.xs="100% 100% "
>
  <ngcommunity-header gdArea="header"></ngcommunity-header>
  <ngcommunity-main
    *ngIf="communitie$ | async as communities"
    gdArea="main"
    [communities]="communities"
  >
  </ngcommunity-main>
</div>
<ngcommunity-footer></ngcommunity-footer>
