<div
  *ngIf="communitie$ | async as communities"
  gdAreas="side content"
  gdGap="0px"
  gdRows="100% 100%"
  gdColumns="auto 35%"
  gdAreas.lt-md="side | content"
  gdColumns.lt-md="100% 100%"
  gdRows.lt-md="auto 40%"
  fxFlexFill
>
  <ngcommunity-map
    gdArea="side"
    [communities]="communities"
    [center]="searched?.position"
    (clickCommunity)="onClickCommunity($event)"
  ></ngcommunity-map>

  <ngcommunity-sidenav
    gdRow="100px"
    gdArea="content"
    [communities]="communities"
    [community]="community"
    (selected)="onSelectCommunity($event)"
    (closeInfo)="onCloseCommunity()"
  ></ngcommunity-sidenav>
</div>
