<mat-grid-list cols="4" rowHeight="100%" *ngIf="communitie$ | async as communities">
  <mat-grid-tile [colspan]="optionsGrid.map.colspan">
    <ngcommunity-map
      [communities]="communities"
      [marked]="marked"
      (community)="onClickCommunity($event)"
    ></ngcommunity-map>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="optionsGrid.sidenav.colspan">
    <ngcommunity-sidenav
      [communities]="communities"
      [community]="community"
      (selected)="onSelectCommunity($event)"
    ></ngcommunity-sidenav>
  </mat-grid-tile>
</mat-grid-list>
