<div
  id="main"
  *ngIf="communitie$ | async as communities"
  gdAreas="map side"
  gdGap="0px"
  gdRows="100% 100%"
  gdColumns="auto 25%"
  gdAreas.lt-md="map side"
  gdColumns.lt-md="auto 40%"
  gdRows.lt-md="100% 100%"
  gdAreas.lt-sm="map | side"
  gdColumns.lt-sm="100% 100%"
  gdRows.lt-sm="50% 50%"
  gdAreas.xs="map | side"
  gdColumns.xs="100% auto"
  gdRows.xs="35% 65%"
  fxFlexFill
>
  <ngcommunity-map
    gdArea="map"
    [communities]="communities"
    [center]="community?.position"
    (clickCommunity)="onClickCommunity($event)"
  ></ngcommunity-map>

  <ngcommunity-sidenav
    gdRow="100px"
    gdArea="side"
    [communities]="communities"
    [community]="community"
    (selected)="onSelectCommunity($event)"
    (closeInfo)="onCloseCommunity()"
  ></ngcommunity-sidenav>
</div>
