/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.social-button--github {
  font-size: 1.7em;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

*::-webkit-scrollbar-track {
  background: #f7f9fc;
}

*::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background: #c10707;
  cursor: pointer;
  border-radius: 0.7rem;
}

/***/
.mat-chip.mat-standard-chip.social {
  margin: 5px;
}

.mat-chip.mat-standard-chip.social {
  color: white;
  margin-left: 10px;

  &.social-web {
    background-color: #626262;
  }

  &.social-twitter {
    background-color: #1da1f2;
  }
  &.social-github {
    background-color: black;
  }
  &.social-youtube {
    background-color: red;
  }
  &.social-linkedin {
    background-color: #0077b4;
  }
  &.social-share {
    background-color: blue;
  }
}

mat-sidenav-container mat-sidenav-content header i {
  margin-left: 10px;
}
