<div class="text-container">
  <div class="text-content">
    <div class="question">
      <h6>What is Angular-Communities?</h6>
      <p>
        Angular-communities in an initiative born in Málaga, Spain. It started as a small
        open-source project built by four Angular devs from Málaga (see about us for more info) who
        aimed to create a space where every single Angular community out there could be found and
        located on the world map. This way, the visibility of all the Angular communities around the
        world is increased, which is always a good thing! As more and more community members started
        to show interest in Angular-Communities, our small project began to grow. Our goal now is to
        create a space where all information regarding Angular can be found: communities,
        conferences, events...
      </p>
    </div>
    <div class="question">
      <h6>I host an Angular community, can I add it to Angular-Communities?</h6>
      <p>Of course! We're looking forwards to adding your community.</p>
    </div>
    <div class="question">
      <h6>Can Angular conferences/events like ngSpain, ngConf etc. be added too?</h6>
      <p>
        We're working on also adding all the Angular events! Would you like to help us out? You can
        find more information
        <a target="_blank" href="https://github.com/voidcosmos/angular-communities/issues/42"
          >here</a
        >.
      </p>
    </div>
    <div class="question">
      <h6>How do I add my community to Angular-Communities?</h6>
      <p>
        All you need to do is open a PR, filling in the required fields with the information about
        your community. We'll review it, and if all is well, your community will be added! For more
        info, see
        <a target="_blank" href="https://github.com/voidcosmos/angular-communities"
          >the Angular-Communities README.</a
        >
      </p>
    </div>
    <div class="question">
      <h6>Can I participate in the Angular-Communities project?</h6>
      <p>
        Of course you can! Any help at all is very welcome. See the following question for
        information on how to contribute.
      </p>
    </div>
    <div class="question">
      <h6>How can I contribute to the Angular-Communities project?</h6>
      <p>
        You can find all the information related to contributing
        <a
          target="_blank"
          href="https://github.com/voidcosmos/angular-communities/blob/master/.github/CONTRIBUTING.md"
          >here</a
        >.
      </p>
    </div>
  </div>
</div>
