h6 {
  color: #c10707;
  font-size: 20px;
}

a {
  color: #c10707;
}

.text-container {
  margin-left: 15%;
  margin-right: 15%;
  color: #333;
}

.text-content {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.question {
  margin: 20px;
}
